<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mifan.guessing.dao.mapper.EventMapper" >
  <resultMap id="BaseResultMap" type="com.mifan.guessing.dao.model.Event" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="event_id" property="eventId" jdbcType="VARCHAR" />
    <result column="sport_id" property="sportId" jdbcType="VARCHAR" />
    <result column="event_name" property="eventName" jdbcType="VARCHAR" />
    <result column="event_time" property="eventTime" jdbcType="TIMESTAMP" />
    <result column="competition_name" property="competitionName" jdbcType="VARCHAR" />
    <result column="season_name" property="seasonName" jdbcType="VARCHAR" />
    <result column="round_name" property="roundName" jdbcType="VARCHAR" />
    <result column="home_team_name" property="homeTeamName" jdbcType="VARCHAR" />
    <result column="away_team_name" property="awayTeamName" jdbcType="VARCHAR" />
    <result column="home_team_name_en" property="homeTeamNameEn" jdbcType="VARCHAR" />
    <result column="away_team_name_en" property="awayTeamNameEn" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="hot" property="hot" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, event_id, sport_id, event_name, event_time, competition_name, season_name, round_name, 
    home_team_name, away_team_name, home_team_name_en, away_team_name_en, score, state, 
    hot
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mifan.guessing.dao.model.EventExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from event
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from event
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mifan.guessing.dao.model.EventExample" >
    delete from event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mifan.guessing.dao.model.Event" >
    insert into event (id, event_id, sport_id, 
      event_name, event_time, competition_name, 
      season_name, round_name, home_team_name, 
      away_team_name, home_team_name_en, away_team_name_en, 
      score, state, hot)
    values (#{id,jdbcType=VARCHAR}, #{eventId,jdbcType=VARCHAR}, #{sportId,jdbcType=VARCHAR}, 
      #{eventName,jdbcType=VARCHAR}, #{eventTime,jdbcType=TIMESTAMP}, #{competitionName,jdbcType=VARCHAR}, 
      #{seasonName,jdbcType=VARCHAR}, #{roundName,jdbcType=VARCHAR}, #{homeTeamName,jdbcType=VARCHAR}, 
      #{awayTeamName,jdbcType=VARCHAR}, #{homeTeamNameEn,jdbcType=VARCHAR}, #{awayTeamNameEn,jdbcType=VARCHAR}, 
      #{score,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{hot,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mifan.guessing.dao.model.Event" >
    insert into event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eventId != null" >
        event_id,
      </if>
      <if test="sportId != null" >
        sport_id,
      </if>
      <if test="eventName != null" >
        event_name,
      </if>
      <if test="eventTime != null" >
        event_time,
      </if>
      <if test="competitionName != null" >
        competition_name,
      </if>
      <if test="seasonName != null" >
        season_name,
      </if>
      <if test="roundName != null" >
        round_name,
      </if>
      <if test="homeTeamName != null" >
        home_team_name,
      </if>
      <if test="awayTeamName != null" >
        away_team_name,
      </if>
      <if test="homeTeamNameEn != null" >
        home_team_name_en,
      </if>
      <if test="awayTeamNameEn != null" >
        away_team_name_en,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="hot != null" >
        hot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="eventId != null" >
        #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="sportId != null" >
        #{sportId,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null" >
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventTime != null" >
        #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="competitionName != null" >
        #{competitionName,jdbcType=VARCHAR},
      </if>
      <if test="seasonName != null" >
        #{seasonName,jdbcType=VARCHAR},
      </if>
      <if test="roundName != null" >
        #{roundName,jdbcType=VARCHAR},
      </if>
      <if test="homeTeamName != null" >
        #{homeTeamName,jdbcType=VARCHAR},
      </if>
      <if test="awayTeamName != null" >
        #{awayTeamName,jdbcType=VARCHAR},
      </if>
      <if test="homeTeamNameEn != null" >
        #{homeTeamNameEn,jdbcType=VARCHAR},
      </if>
      <if test="awayTeamNameEn != null" >
        #{awayTeamNameEn,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="hot != null" >
        #{hot,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mifan.guessing.dao.model.EventExample" resultType="java.lang.Integer" >
    select count(*) from event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update event
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.eventId != null" >
        event_id = #{record.eventId,jdbcType=VARCHAR},
      </if>
      <if test="record.sportId != null" >
        sport_id = #{record.sportId,jdbcType=VARCHAR},
      </if>
      <if test="record.eventName != null" >
        event_name = #{record.eventName,jdbcType=VARCHAR},
      </if>
      <if test="record.eventTime != null" >
        event_time = #{record.eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.competitionName != null" >
        competition_name = #{record.competitionName,jdbcType=VARCHAR},
      </if>
      <if test="record.seasonName != null" >
        season_name = #{record.seasonName,jdbcType=VARCHAR},
      </if>
      <if test="record.roundName != null" >
        round_name = #{record.roundName,jdbcType=VARCHAR},
      </if>
      <if test="record.homeTeamName != null" >
        home_team_name = #{record.homeTeamName,jdbcType=VARCHAR},
      </if>
      <if test="record.awayTeamName != null" >
        away_team_name = #{record.awayTeamName,jdbcType=VARCHAR},
      </if>
      <if test="record.homeTeamNameEn != null" >
        home_team_name_en = #{record.homeTeamNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.awayTeamNameEn != null" >
        away_team_name_en = #{record.awayTeamNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.hot != null" >
        hot = #{record.hot,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update event
    set id = #{record.id,jdbcType=VARCHAR},
      event_id = #{record.eventId,jdbcType=VARCHAR},
      sport_id = #{record.sportId,jdbcType=VARCHAR},
      event_name = #{record.eventName,jdbcType=VARCHAR},
      event_time = #{record.eventTime,jdbcType=TIMESTAMP},
      competition_name = #{record.competitionName,jdbcType=VARCHAR},
      season_name = #{record.seasonName,jdbcType=VARCHAR},
      round_name = #{record.roundName,jdbcType=VARCHAR},
      home_team_name = #{record.homeTeamName,jdbcType=VARCHAR},
      away_team_name = #{record.awayTeamName,jdbcType=VARCHAR},
      home_team_name_en = #{record.homeTeamNameEn,jdbcType=VARCHAR},
      away_team_name_en = #{record.awayTeamNameEn,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      hot = #{record.hot,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mifan.guessing.dao.model.Event" >
    update event
    <set >
      <if test="eventId != null" >
        event_id = #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="sportId != null" >
        sport_id = #{sportId,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null" >
        event_name = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventTime != null" >
        event_time = #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="competitionName != null" >
        competition_name = #{competitionName,jdbcType=VARCHAR},
      </if>
      <if test="seasonName != null" >
        season_name = #{seasonName,jdbcType=VARCHAR},
      </if>
      <if test="roundName != null" >
        round_name = #{roundName,jdbcType=VARCHAR},
      </if>
      <if test="homeTeamName != null" >
        home_team_name = #{homeTeamName,jdbcType=VARCHAR},
      </if>
      <if test="awayTeamName != null" >
        away_team_name = #{awayTeamName,jdbcType=VARCHAR},
      </if>
      <if test="homeTeamNameEn != null" >
        home_team_name_en = #{homeTeamNameEn,jdbcType=VARCHAR},
      </if>
      <if test="awayTeamNameEn != null" >
        away_team_name_en = #{awayTeamNameEn,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="hot != null" >
        hot = #{hot,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mifan.guessing.dao.model.Event" >
    update event
    set event_id = #{eventId,jdbcType=VARCHAR},
      sport_id = #{sportId,jdbcType=VARCHAR},
      event_name = #{eventName,jdbcType=VARCHAR},
      event_time = #{eventTime,jdbcType=TIMESTAMP},
      competition_name = #{competitionName,jdbcType=VARCHAR},
      season_name = #{seasonName,jdbcType=VARCHAR},
      round_name = #{roundName,jdbcType=VARCHAR},
      home_team_name = #{homeTeamName,jdbcType=VARCHAR},
      away_team_name = #{awayTeamName,jdbcType=VARCHAR},
      home_team_name_en = #{homeTeamNameEn,jdbcType=VARCHAR},
      away_team_name_en = #{awayTeamNameEn,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      hot = #{hot,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>