server:
    port: 7902
spring:
    application:
        name: guessing
    datasource:
        name: test
        url: jdbc:mysql://39.105.69.218:3306/guessing
        username: root
        password: 123456
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20

mybatis:
    mapper-locations: classpath:mybatis/*.xml #注意：一定要对应mapper映射xml文件的所在路径
    type-aliases-package: om.mifan.guessing.dao.model # 注意：对应实体类的路径

#pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql

logging:
  config: classpath:log4j2.xml
gunqiu:
    vendorIdValue: mf
    secretKey: mi%fan#4bg35n6e

elaticjob:
    zookeeper:
        server-lists: 172.16.0.73:2181
#        server-lists: 10.170.1.44:2181
        namespace: elastic-job-lite-springboot

regCenter:
  serverList: 172.16.0.73:2181
#  serverList: 10.170.1.44:2181
  namespace: guessing-job

subEventMsgJob:
  cron: 0 0/5 * * * ?
  shardingTotalCount: 1
  shardingItemParameters: 1=1

getui:
    appId : 8enRcCqNeBAUm4PrkUiaI1
    appKey : yMjLpoi5QD7DMTZRocc1q8
    masterSecret : MveykJ5gFwAJEqfNZT9Tx9